priority -60

snippet ( "bracket" iA
(${1})${2}
endsnippet

snippet [ "square bracket" iA
[${1}]${2}
endsnippet

snippet { "brace" iA
\{${1}\}${2}
endsnippet

snippet " "double quote" iA
"${1}"${2}
endsnippet

snippet ' "quote" iA
'${1}'${2}
endsnippet

